body {
	/*font-family: 'Space Mono', monospace;*/\
	font-family: 'Orbitron', sans-serif;
	/*font-family: 'Abel', sans-serif;*/
	background-image: url("true.png");
	text-align: center;
}


#logo {
	font-family: 'Orbitron', sans-serif;
	font-size: 100px;
	font-weight: bold;
	color:#ffe6ff;
	text-shadow: 2px 2px #cce6ff;
	text-align: center;
}

#aside {
	font-family: 'Orbitron', sans-serif;
	min-height:500px;
	padding:10px;
	font-size: 40px;
	/*background:#e6ffe6;*/
	font-weight: bold;
	color:#ffe6ff;
	text-shadow: 1px 1px #cce6ff;
	border: 3px solid #e6ffe6;
	
}

#main {
	font-family: 'Orbitron', sans-serif;
	min-height:500px;
	padding:10px;
	font-size: 20px;
	/*background:#e6ffe6;*/
	font-weight: bold;
	color:#ffe6ff;
	text-shadow: 1px 1px #cce6ff;
	border: 3px solid #e6ffe6;
	
}

.buttons {
	margin-top:3px;
	letter-spacing: 3px;
	font-family: 'Orbitron', sans-serif;
	color:#ffe6ff;
	border: 3px solid #e6ffe6;
}

