body {
	/*font-family: 'Space Mono', monospace;*/\
	font-family: 'Orbitron', sans-serif;
	/*font-family: 'Abel', sans-serif;*/
	background-image: url("assets/images/true.png");
	text-align: center;
}


#logo {
	font-family: 'Orbitron', sans-serif;
	font-size: 100px;
	font-weight: bold;
	color:#ffe6ff;
	text-shadow: 2px 2px #cce6ff;

}

.letter {
    border-radius: 8px;
    padding: 8px;
    text-transform: uppercase;
    margin: 5px;
}


#leftcol {
	margin: 10px;
	font-family: 'Orbitron', sans-serif;
	min-height:500px;
	padding:10px;
	font-size: 40px;
	/*background:#e6ffe6;*/
	font-weight: bold;
	color:#ffe6ff;
	text-shadow: 1px 1px #cce6ff;
	border: 3px solid #e6ffe6;
	
}

#main {
	margin: 10px;
	font-family: 'Orbitron', sans-serif;
	min-height:500px;
	padding:10px;
	font-size: 20px;
	/*background:#e6ffe6;*/
	font-weight: bold;
	color:#ffe6ff;
	text-shadow: 1px 1px #cce6ff;
	border: 3px solid #e6ffe6;
	
}

#letterBank {
	font-family: 'Orbitron', sans-serif;
	padding:10px;
	font-size: 20px;
	letter-spacing: normal;
	text-transform: uppercase;
	font-weight: bold;
	
}


#newGameBtn {
	margin: 10px;
	font-family: 'Orbitron', sans-serif;
	padding:10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px; 
	
}

#newgame {
	margin: 10px;
	font-family: 'Orbitron', sans-serif;
	min-height:500px;
	padding:10px;
	text-shadow: 1px 1px #cce6ff;
	border: 3px solid #e6ffe6;
	
}